.AppBar {
    max-height:60px;
    padding: 10px 0 10px 10px;
    
  }
  .Search {
    width: 100px !important;
    height: 10px;
    margin-right: 10px;
    /* border: 1px solid red; */
  }

  .SearchButton {
      width: 80px;
      margin: auto;
  }